SECRET_KEY=p0x86)s74ax)nfzfg6o*q(ox++6*yzns0r#l8ey46g-(vln7i6
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
# Для PostgreSQL:
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=mydatabase
# DB_USER=myuser
# DB_PASSWORD=mypassword
# DB_HOST=localhost
# DB_PORT=5432
