# requirements.txt
Django>=5.2
django-ckeditor-5>=0.2.6
Pillow>=10.0
redis>=5.0
# Для продакшена с PostgreSQL
psycopg2-binary>=2.9.9

# Для продакшена с Redis
redis>=5.0.1
django-redis>=5.4.0

# Для кэширования и оптимизации
django-compressor>=4.4
whitenoise>=6.6.0

# Для безопасности
django-csp>=3.7
django-cors-headers>=4.3.1

# Для мониторинга и логирования
sentry-sdk>=1.40.0
easy-thumbnails
